# Datos pesados
data/raw/
data/processed/

# Python cache
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/
source/
.env

# Modelos entrenados y logs (generados al entrenar, no versionar)
models/
logs/
.DS_Store

# Notas personales
anotaciones_para_mi/